<%= render 'shared/navbar' %>
<div class="diagnostics-index-page">
  <div class="main-page-container search-container-2 unset-height">
    <h1 class="diagnostix-index-title">Your Diagnostics</h1>
    <% @diagnostics.each do |diagnostic| %>
      <%= link_to diagnostic_path(diagnostic), class: 'btn text-decoration-none' do %>
        <div class="score-main-details diagnostic-index">
          <div class="test-image">
            <% if diagnostic.score >= 90 %>
              <%= image_tag "green_check.png", alt: "alttext" %>
            <% elsif diagnostic.score < 50 %>
              <%= image_tag "red_cross.png", alt: "alttext" %>
            <% else %>
              <%= image_tag "orange_exclamation.png", alt: "alttext" %>
            <% end %>
          </div>
          <div class="test-details">
            <h2 class="text-white">See results for <strong><%= diagnostic.tested_url %></strong> security test.</h2>
            <p class="text-white"><strong>Grade:</strong> <%= diagnostic.grade %></p>
            <p class="text-white"><strong>Score:</strong> <%= diagnostic.score %>/100</p>
            <p class="text-white"><strong>Server IP:</strong> <%= diagnostic.server_ip %></p>
            <p class="text-white"><strong>Server location:</strong> <%= diagnostic.server_location %></p>
            <p class="text-white"><strong>Tested on: </strong> <%= diagnostic.created_at.strftime(" %d of %B, %Y, at %k:%M") %></p>
            <%= link_to 'Marketplace', products_path, class: "btn marketplace-diagnostic-button" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
