<%= render 'shared/navbar' %>

<%= render 'shared/modals/modal_gdpr' %>
<%= render 'shared/modals/modal_pci' %>
<%= render 'shared/modals/modal_httphead' %>
<%= render 'shared/modals/modal_content' %>
<%= render 'shared/modals/modal_software' %>

<div class="main-page-diagnostic-container">
  <div class="score-main-details diagnostic-index">
    <div class="test-image">
      <% if @diagnostic.score >= 90 %>
        <%= image_tag "https://media.istockphoto.com/vectors/approval-symbol-check-mark-in-a-circle-drawn-by-hand-vector-green-ok-vector-id1094780808?k=6&m=1094780808&s=612x612&w=0&h=U_-vy-la7Q8Mz7yzlXV4osQMQk8kY85YPNVpoQZgJX8=", alt: "alttext" %>
      <% elsif @diagnostic.score < 50 %>
        <%= image_tag "https://t4.ftcdn.net/jpg/00/49/49/71/240_F_49497163_jzhcVIQ7NtHdBvJNFWChCXToIfLRYF57.jpg", alt: "alttext" %>
      <% else %>
        <%= image_tag "https://icones.pro/wp-content/uploads/2021/05/symbole-d-avertissement-orange.png", alt: "alttext" %>
      <% end %>
    </div>
    <div class="test-details">
      <h2 class="text-white">Summary of <strong><%= @diagnostic.tested_url %></strong> security test.</h2>
      <p class="text-white"><strong>Grade:</strong> <%= @diagnostic.grade %></p>
      <p class="text-white"><strong>Score:</strong> <%= @diagnostic.score %>/100</p>
      <p class="text-white"><strong>Server IP:</strong> <%= @diagnostic.server_ip %></p>
      <p class="text-white"><strong>Server location:</strong> <%= @diagnostic.server_location %></p>
      <p class="text-white"><strong>Tested on: </strong> <%= @diagnostic.created_at.strftime(" %d of %B, %Y, at %k:%M") %></p>
      <%= link_to 'Marketplace', products_path, class: "btn marketplace-diagnostic-button" %>
    </div>
  </div>

  <div class="main-5-scores">
    <div class="<%= @diagnostic.gdpr_scores_colour %>-score cursor" data-toggle="modal" data-target="#exampleModal">
      <p class=""><strong>GDPR Compliance</strong></p>
      <i class="fas fa-clipboard-list"></i>
      <div class="result-content">
        <p><%= @diagnostic.gdpr_scores_description %> </p>
      </div>
    </div>


    <div class="<%= @diagnostic.pci_dss_scores_colour %>-score cursor" data-toggle="modal" data-target="#exampleModal1">
      <p><strong>PCI DSS Compliance</strong></p>
      <i class="fas fa-clipboard-list"></i>
      <div class="result-content">
        <p><%= @diagnostic.pci_dss_scores_description %> </p>
      </div>
    </div>

    <div class="<%= @diagnostic.http_header_scores_colour %>-score cursor"data-toggle="modal" data-target="#exampleModal2">
      <p><strong>HTTP Headers</strong></p>
      <i class="fas fa-heading"></i>
      <div class="result-content">
        <p><%= @diagnostic.http_header_scores_description %> </p>
      </div>
    </div>

    <div class="<%= @diagnostic.csp_scores_colour %>-score cursor" data-toggle="modal" data-target="#exampleModal3">
      <p><strong>Content Security Policy</strong></p>
      <i class="fas fa-shield-alt"></i>
      <div class="result-content">
        <p><%= @diagnostic.csp_scores_description %> </p>
      </div>
    </div>

    <div class="<%= @diagnostic.app_scan_scores_colour %>-score cursor" data-toggle="modal" data-target="#exampleModal4">
      <p><strong>Software Security</strong></p>
      <i class="fas fa-cogs"></i>
      <div class="result-content">
        <p><%= @diagnostic.app_scan_scores_description %> </p>
      </div>
    </div>

  </div>
  <div class="map-marketplace">
    <div class="diagnostic-show-page-map">
      <div id="map" style="width: 100%; height: 100%;" data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       <h2 class="h2-map">Your server location</h2>
     </div>
    </div>
    <div class="diagnostic-marketplace">
      <h1>Find Cyber Security Products</h1>
      <p>Visit our online marketplace, browse through countless products that could make your website a safer and more secure place.</p>
      <%= link_to 'Marketplace', products_path, class: "btn marketplace-diagnostic-button-div" %>
    </div>
  </div>
</div>
