<%= render 'shared/navbar' %>
<div class="container bg-dark justify-content-center d-flex mt-5 cart-container">
  <div class="row py-4 mt-5">
    <%# Cart Image Here %>
    <%# <div class="col-md-3"><%= image_tag @order.teddy.photo_url, width: '100%' %>
    <div class="col">
      <% if @cart.state == "pending" %>
          <h1 class="text-white">Your Cart <small><span class="badge text-white-50 badge-success"><%= "#{@cart.products.length} #{@cart.state} items"%></span></small></h1>
      <% else %>
          <h1 class="text-white">Your Cart <small><span class="badge text-white badge-secondary"><%= "#{@cart.products.length} #{@cart.state} items"%></span></small></h1>
      <% end %>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @cart.created_at.to_date.strftime("%m/%d/%Y") %></li>
        <% @cart.products.each do |product| %>
          <li><strong>PRODUCT</strong> <%= product.name %> [<%= humanized_money_with_symbol product.price %>]</li>
        <% end %>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @total %></li>
      </ul>
      <%# Delete A Product %>
      <p>Total Products: <strong><%= @cart.products.length %></strong></p>
        <% @cart_products.each do |cart_product| %>
          <%= cart_product.product.name %>
          <%= link_to "Delete", cart_product_path(cart_product), method: :delete %>
        <% end %>
      <%# Buttons %>
      <div class="d-inline-flex justify-content-between">
        <div class="col-4">
          <%= link_to "Confirm", confirm_cart_path(@cart), method: :put %>
        </div>
        <div class="col-8">
          <%= link_to "Empty Cart", cart_path(@cart), method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>


