<%= render 'shared/navbar' %>
<div class=" d-flex cart-container">
  <div class="row py-4">
    <%# Cart Image Here %>
    <%# <div class="col-md-3"><%= image_tag @order.teddy.photo_url, width: '100%' %>
    <div class="col">
      <% if @cart.state == "pending" %>
          <h1 class="text-white py-3">Shopping Basket</h1>
      <% else %>
          <h1 class="text-white py-3">Shopping Basket <small><span class="badge text-white ml-3"></span></small></h1>
      <% end %>
      <ul class="list-unstyled mt-3">
        <%# <li><strong>ISSUED ON</strong> <%= @cart.created_at.to_date.strftime("%m/%d/%Y") %></li>
        <div class="d-inline-flex justify-content-between w-100 border-bottom">
          <li>Product</li>
          <li>Price</li>
        </div>

        <%# Loop Through Each Product %>
          <% @cart_products.each do |cart_product| %>
            <div class="d-inline-flex justify-content-between w-100">
            <li class="my-2"><%= cart_product.product.name %></li>
            <li class="my-2"><%= link_to "Delete", cart_product_path(cart_product), method: :delete, class: 'text-white text-decoration-none' %></li>
            <li class="my-2"><%= humanized_money_with_symbol cart_product.product.price %></li>
            </div>
          <% end %>

        <li class="my-3"><strong>Subtotal:</strong> <%= humanized_money_with_symbol @total %></li>
      </ul>
      <%# Buttons %>
      <div class="d-flex align-self-start">
        <div class="col-4 px-0 mt-3">
          <%= link_to "Checkout", confirm_cart_path(@cart), method: :put, class: 'btn btn-alert btn-outline-success text-white font-weight-bold' %>
        </div>
        <div class="col-8 px-0 mt-3">
          <%= link_to "Empty Cart", cart_path(@cart), method: :delete, class: 'btn btn-alert btn-outline-success text-white font-weight-bold' %>
        </div>
      </div>
    </div>
  </div>
</div>



