<%= render 'shared/navbar' %>
<div class="marketplace-container d-flex justify-content-between">
    <div class="filter-container bg-white pl-4 pr-4">
        <a href="#" class= "filters" data-filter = ".Software-Security">Software Security</a>
        <a href="#" class= "filters" data-filter = ".GDPR-compliance">GDPR compliance</a>
        <a href="#" class= "filters" data-filter = ".PCI-DSS-Compliance">PCI DSS Compliance</a>
        <a href="#" class= "filters" data-filter = ".HTTP-Headers-Security">HTTP Headers Security</a>
        <a href="#" class= "filters" data-filter = ".Content-Security-Policy">Content Security Policy</a>
        <a href="#" class= "filters" data-filter = ".Others">Others</a>
    </div>

        <div class="products-index-container justify-content-center">
            <% @products.each do |product| %>
                    <a >

                <div class="selected product-card-index-page <%=product.category %> category border-bottom">
                        <div class="outer d-flex w-100">
                            <span class="bg"><%= product.user.first_name.capitalize %> <%= product.user.last_name.capitalize %></span>
                            <% if product.photos.attached? %>
                                <%= cl_image_tag product.photos[0].key, alt: "alttext" %>
                            <% else %>    
                                <img class="cyber-image" src="https://www.ship-technology.com/wp-content/uploads/sites/16/2019/07/Cyber-credit-NSWC-Crane-Corporate-Communications.jpg" width="300px" class="animated fadeInRight mr-5">
                            <% end %>
                            <div class="content">
                                <h1>
                                    <a href="/products/<%=product.id %>" class="text-decoration-none">
                                        <%= product.name.capitalize %>
                                    </a>
                                </h1>
                                <p style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= product.description %></p>
                            </div>
                            <div class="button cart-btn w-25">
                                <a href="#"><%= product.price %></a>
                                <%= link_to "Add product",  product_cart_products_path(product.id), method: :post %>
                            </div>
                        </div>
                </div>
            <% end %>      
        </div>
</div>


  




