<%= render 'shared/navbar' %>
<div class="marketplace-container d-flex justify-content-between">
  <div class="bg-white">
    <div class="filter-container bg-white pl-4 pr-4">
      <div class="filter-category-menu">
        <p class="category-header"><strong>Shop by category</strong></p>
        <a href="#" class= "filters" style="text-decoration: none;" data-filter = ".Software-Security"><p>Software Security</p></a>
        <a href="#" class= "filters" style="text-decoration: none;" data-filter = ".GDPR-compliance"><p>GDPR compliance</p></a>
        <a href="#" class= "filters" style="text-decoration: none;" data-filter = ".Web-Application-Firewall"><p>Web Application Firewall</p></a>
        <a href="#" class= "filters" style="text-decoration: none;" data-filter = ".HTTP-Headers-Security"><p>HTTP Headers Security</p></a>
        <a href="#" class= "filters" style="text-decoration: none;" data-filter = ".Content-Security-Policy"><p>Content Security Policy</p></a>
        <a href="#" class= "filters" style="text-decoration: none;" data-filter = ".Others"><p>Others</p></a>
        <p class="category-header"><strong>Shop by name</strong></p>
        <%= form_tag products_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a product"
          %>
          <%= submit_tag "Search", class: "products-index-search-button" %>
        <% end %>
        <p class="category-header"><strong>Shop by price</strong></p>
        <p id="ascending" class="price-filter cursor">Ascending</p>
        <p id="descending" class="price-filter cursor">Descending</p>
      </div>
    </div>
  </div>

        <div class="products-index-container justify-content-center">
            <% @products.each do |product| %>
                <div class="selected product-card-index-page <%=product.category %> category border-bottom" data-price="<%= product.price %>">
                        <div class="products-index-page-card-container">
                            <div class="products-index-page-card-image">
                              <a href="/products/<%=product.id %>">
                                <% if product.photos.attached? %>
                                    <%= cl_image_tag product.photos[0].key, alt: "alttext", style: "width: 300px;" %>
                                <% else %>
                                    <img src="https://www.ship-technology.com/wp-content/uploads/sites/16/2019/07/Cyber-credit-NSWC-Crane-Corporate-Communications.jpg" width="300px">
                                <% end %>
                              </a>
                            </div>
                            <div class="products-index-page-card-content">
                              <a href="/products/<%=product.id %>" class="text-decoration-none"><p><strong><%= product.name %></strong></p></a>
                              <p>Category: <%= product.category %></p>
                              <p><%= product.description.first(150)%>... </p>
                            </div>
                            <a href="/products/<%=product.id %>" id="products-index-price"><h6><strong>£<%= product.price %></strong></h6></a>
                            <%= link_to "Add to Basket",  product_cart_products_path(product.id), method: :post, class: "button cart-btn", id: "products-index-add" %>
                        </div>
                </div>
            <% end %>
        </div>
</div>
